body {
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 281px;
  height: auto;
}

figcaption {
  text-align: center;
}

footer {
  margin-top: 20px;
  text-align: center;
}
